# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
escape-room/node_modules
escape-room/.pnp
escape-room/.pnp.js

# testing
escape-room/coverage

# production
escape-room/build

# misc
escape-room/.DS_Store
escape-room/.env.local
escape-room/.env.development.local
escape-room/.env.test.local
escape-room/.env.production.local

escape-room/npm-debug.log*
escape-room/yarn-debug.log*
escape-room/yarn-error.log*
